<% @disable_nav=true %>

<div class="dashboard-wrapper">
   <div class="dash-right">
     <div>
         <div class="button">
           <%= link_to "Create a new offer", new_offer_path %>
         </div>
       <%= link_to(user_appointments_path(current_user)) do %>
         <i class="fa-solid fa-envelope"></i>
       <% end %>
     </div>
     <div class="header">
       <h2>Hello <%= current_user.name %></h2>
     </div>
     <div class="card-collection-wrapper">
       <div class="cards-wrapper-dash">
         <% current_user.offers.each do |offer| %>
           <div class="cards-cont">
             <%= link_to(offer_path(offer), class: "card-link-dash") do %>
               <div class="card-ui-dash">
                 <%= cl_image_tag offer.photo.key, height: 200, width: 353, crop: :fill, class:"img-details" %>
                 <div class="card-info">
                   <div class="card-td">
                     <h2> <%= offer.title  %> </h2>
                     <p><%= offer.description.truncate(30, separator: ' ') %> </p>
                   </div>
                   <p class="card-price"> CHF <%= offer.hourly_rate  %> </p>
                 </div>
               </div>
                <div class="card-btn">
                   <%= link_to 'Delete', offer_path(offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'del-btn' %>
                   <%= link_to 'Edit', edit_offer_path(offer), class: "edit-btn" %>
                 </div>
             <% end %>
           </div>
         <%end%>
       </div>
    </div>

     <h2 id=""> Overview of my Bookings </h2>
     <div class="">

       <table class="table">
         <thead>
           <tr>
             <th scope="col">Owner</th>
             <th scope="col">Title</th>
             <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
             <th scope="col">Hours</th>
             <th scope="col">Accepted?</th>
           </tr>
         </thead>
         <tbody>
             <% current_user.appointments.each do |appointment| %>
               <tr>
                 <td> <%=appointment.offer.user.email %> </td>
                 <td> <%=appointment.offer.title %> </td>
                 <td> <%=appointment.start_date %> </td>
                 <td> <%=appointment.end_date %> </td>
                 <td> <%=appointment.hours %> </td>
                 <% if appointment.accepted == true %>
                 <td style="color: #475841"> Yes </td>
                 <% else %>
                 <td style="color: rgb(255, 0, 0)"> No </td>
                 <% end %>
               </tr>
             <% end %>
         </tbody>
       </table>
     </div>
 </div>
</div>
