<div class="container-search">
  <div class="row">
    <div class="search-bar">
      <%= form_with url: offers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Get some help in your city"
        %>
          <%= submit_tag "Search", class: "btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>


<div class="">
  <div class="icon-category">
    <div class="home filter-icon">
      <%= link_to request.params.merge(category: "Home") do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <p>Home</p>
    </div>

    <div class="sports filter-icon">
      <%= link_to request.params.merge(category: "Sports") do %>
        <i class="fa-solid fa-basketball"></i>
      <% end %>
      <p>Sports</p>
    </div>

    <div class="pets filter-icon">
      <%= link_to request.params.merge(category: "Pets") do %>
        <i class="fa-solid fa-dog"></i>
      <% end %>
      <p>Pets</p>
    </div>
    <div class="education filter-icon">
      <%= link_to request.params.merge(category: "Education") do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
      <p>Education</p>
    </div>
    <div class="music filter-icon">
      <%= link_to request.params.merge(category: "Music") do %>
        <i class="fa-solid fa-music"></i>
      <% end %>
      <p>Music</p>
    </div>
    <div class="art filter-icon">
      <%= link_to request.params.merge(category: "Arts") do %>
        <i class="fa-solid fa-paintbrush"></i>
       <% end %>
      <p>Arts</p>
    </div>
    <div class="garden filter-icon">
      <%= link_to request.params.merge(category: "Garden") do %>
        <i class="fa-solid fa-tree"></i>
      <% end %>
      <p>Garden</p>
    </div>
    <div class="other filter-icon">
      <%= link_to request.params.merge(category: "Other") do %>
        <i class="fa-solid fa-question"></i>
      <% end %>
      <p>Other</p>
    </div>
  </div>

  <div>
    <h3 class="offers-text">Find help in your city</h3>
    <div>
      <% @offers.each do |offer| %>
        <div>
          <%= link_to(offer_path(offer), class: "card-link") do %>
            <div class="card-trip">
              <% if offer.photo.attached? %>
                <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= offer.title  %> </h2>
                  <p><%= offer.description.truncate(30, separator: ' ') %> </p>
                </div>
                <h2 class="card-trip-pricing"> CHF <%= offer.hourly_rate  %> </h2>
              </div>
            </div>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>
