<% @disable_nav_big=true %>

<% @offers.each do |offer| %>
  <div class="carrusel-wrapper">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <%= link_to cl_image_tag(offer.photo.key, id: "banner"), offer_path(offer) %>
            <div class="carru-title">
              <p> <%= offer.title %> </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
<% end %>

<div class="new-search">
  <form action="/offers" method="get">
    <input type="text" name="query" placeholder="Find some offers" class="inp-1">
    <input type="submit" value="Search" class="inp-2">
  </form>
</div>

<div class="icon-category-wrapper">
    <div class="home icon-cat">
      <%= link_to request.params.merge(category: "Home") do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </div>

    <div class="sports icon-cat">
      <%= link_to request.params.merge(category: "Sports") do %>
        <i class="fa-solid fa-basketball"></i>
      <% end %>
    </div>

    <div class="pets icon-cat">
      <%= link_to request.params.merge(category: "Pets") do %>
        <i class="fa-solid fa-dog"></i>
      <% end %>
    </div>
    <div class="education icon-cat">
      <%= link_to request.params.merge(category: "Education") do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
    </div>
    <div class="music icon-cat">
      <%= link_to request.params.merge(category: "Music") do %>
        <i class="fa-solid fa-music"></i>
      <% end %>
    </div>
    <div class="art icon-cat">
      <%= link_to request.params.merge(category: "Arts") do %>
        <i class="fa-solid fa-paintbrush"></i>
       <% end %>
    </div>
    <div class="garden icon-cat">
      <%= link_to request.params.merge(category: "Garden") do %>
        <i class="fa-solid fa-tree"></i>
      <% end %>
    </div>
    <div class="other icon-cat">
      <%= link_to request.params.merge(category: "Other") do %>
        <i class="fa-solid fa-question"></i>
      <% end %>
    </div>
</div>



  <h3 class="offers-text" style="font-size: 2rem;">CHOOSE INTERESANT OFFERS IN <span style="color: #4975CB;">YOUR CITY</span></h3>
   <h5>Collect your favorite offers and save them.</h5>
  <div class="cards-wrapper">
    <% @offers.each do |offer| %>
      <div class="cards-cont">
        <%= link_to(offer_path(offer), class: "card-link") do %>
          <div class="card-ui">
            <% if offer.photo.attached? %>
             <div class="inner-text"><%= cl_image_tag offer.photo.key, height: 508, width: 753, crop: :fill, class:"img-home-offers"  %>
               <div class="cont-card-details">
                    <p><%= offer.title %></p>
                    <i class="fa-solid fa-circle-arrow-right fa-2x" style="color: #FB9638"></i>
               </div>
             </div>
            <% end %>
            <!--<div class="card-trip-infos">
              <div>
                <h2> <%#= offer.title  %> </h2>
                <p><%#= offer.description.truncate(30, separator: ' ') %> </p>
              </div>
              <h2 class="card-trip-pricing"> CHF <%#= offer.hourly_rate  %> </h2>
            </div>-->
          </div>
        <% end %>
      </div>
    <%end%>
  </div>
 <div>
