<% @disable_nav=true %>

<div class="content-wrapper">
  <div class="offer-details">

      <div class="offer-imagen">
          <%= cl_image_tag(@offer.photo.key, width: 600, height: 840, crop: :fill) %>
      </div>

      <div class="offers-text-details">
        <div class="offer-d">
          <p>
            <%= @offer.title %>
          </p>
          <h4>
            <%= @offer.description %>
          </h4>

           <div class="mapita">
             <div id="cool-map" style="width: 75%; height: 400px;"
               data-controller="map"
               data-map-markers-value="<%= Array(@markers).to_json %>"
               data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
             </div>
           </div>
        </div>

        <div class="price-location">
          <h4><i class="fa-solid fa-location-dot" style="color: #4975CB;"></i> <%= @offer.location %></h2>
          <p>CHF <%= @offer.hourly_rate %></p>
        </div>
        <div class="booking">
          <%= link_to "Book", new_offer_appointment_path(@offer), class:"booking-btn" %>
        </div>
      </div>

  </div>
</div>

  <div class="more">
    <h2>Discover more from this people</h2>
    <div class="line"></div>
  </div>

<div class="">
  <% @offer.user.offers.excluding(@offer).each do |offer| %>
    <div class="offer-more-wrapper">
        <%= link_to(offer_path(offer), class: "card-link") do %>
          <div class="offer-more-detail">
            <% if offer.photo.attached? %>
              <%= cl_image_tag offer.photo.key, height: 200, width: 200, crop: :fill, class:"rounded-img" %>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
